.loading {
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
    background: #fff;
    border-radius: 4px;

}

.filme-info h1{
    margin: 14px 0;
}
.filme-info img{
    border-radius: 8px;
    width: 800px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
}
.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0;;
}
.area-buttons{
    margin-bottom: 14px;
}

.area-buttons button{
    background: #DEE2E6;
    font-size: 14px;
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.area-buttons button:hover{
    background: #333;
    color: #fff;
}

.area-buttons a{
    background: #DEE2E6;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    padding: 12px;
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
}

.area-buttons a:hover{
    background: #333;
    color: #fff;
}