.loading {
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
}

.lista-filmes {
  column-count: 3;
  max-width: 800px;
  margin: 14px auto;
}

.lista-filmes article {
  width: 100%;
  min-height: 467px;
  background: #fff;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 16px;
  margin: 14;
}

.lista-filmes strong {
  height: 40px;
  margin-top: 10px;
  text-align: center;
  font-size: 22px;
  display: block;
}

.lista-filmes img {
  width: 900px;
  max-width: 100%;
  max-height: 340px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.lista-filmes a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  font-size: 24px;
  background-color: #116feb;
  text-decoration: none;
  color: #fff;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
